@import url("http://fonts.fontstorage.com/import/cinzeldecorative.css");
@import url('https://fonts.googleapis.com/css?family=Amiri');
html {
    margin:0;
	padding:0;
	outline:none;
	width:100vw;
	border:none;
    min-width:1000px;
    overflow-x: hidden;
    
    ::-webkit-scrollbar {
     width: 11px;
      }
	::-webkit-scrollbar-track {
	  background-color: transparent;
	  }
	::-webkit-scrollbar-track-piece {
	 background-color: transparent;
	  }
	::-webkit-scrollbar-thumb {
	 height: 70px; background-color: #666; border-radius: 15px;
	  }
	::-webkit-scrollbar-corner {
	 background-color: #999;
	  }
	::-webkit-resizer {
	 background-color: #666;
	  }

		body {
			margin:0;
			padding:0;
			position:relative;
			span {
				display: block;
			}
			header {
					margin:0;
					padding:0;
					width:100%;
					min-height:800px;
					max-height:1200px;
					background-image:  url("../images/header/Photo-Overlay.png"),url("../images/header/BGheader.png");
					background-size:cover;
					background-repeat: no-repeat;

					.logo,
					.header_scroll {
						display:flex;
						flex-grow:1;
						justify-content: center;
						align-items: center;
					}

					.logo {
						height:300px;
						align-items: center;
					}
					.header_text {
						display:grid;
						grid-template-rows: 70px 60px 50px 250px;
						grid-template-columns: 650px;
						justify-content: center;
						position:relative;
						.lines_beer {
							display:grid;
							grid-template-columns:minmax(150px,240px) 1fr minmax(150px,240px);
							align-items: center;
							hr {
								border:none;
								border-radius: 2px;
								outline: none;
								background-color:  #cdb378;
								height: 4px;
								width:100%;
							}
							.beer {					
							font-family: 'Cinzel Decorative';
							color:  #ffffff;
							width:250px;
							font-size: 3.751em;/* Приближение из-за подстановки шрифтов */
							font-weight: 900;
							line-height: 1;/* Приближение из-за подстановки шрифтов */
							text-align: center;
							}
						}
						span {
							display:flex;
							justify-content: center;
							font-family: 'Cinzel Decorative';
							color:  #ffffff;
							font-size: 2.0em;/* Приближение из-за подстановки шрифтов */
							font-weight: 400;
							line-height: 1.667;/* Приближение из-за подстановки шрифтов */
						}
						.made_by {
							font-family: Amiri;
							font-style: italic;
							color:  #cdb378;
							font-size: 1.001em;/* Приближение из-за подстановки шрифтов */
							line-height: 1.874;/* Приближение из-за подстановки шрифтов */
							transform: scaleX(1.0031);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */

						}
						.header_scroll {
						flex-direction:column;
						width:100%;
						position:absolute;
						bottom:25px;

							span {
								font-family: Amiri;
								font-style: italic;
								color:  #cdb378;
								font-size: 1.001em;/* Приближение из-за подстановки шрифтов */
								line-height: 1.874;/* Приближение из-за подстановки шрифтов */
								transform: scaleX(1.0031);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
								height:30px;
							}
						}   
					}
			}
			main {
				margin:0;
				padding:0;
				width:100%;
				min-height:3600px;
				background-image: url("../images/main/Photo+BG.png");
				background-size:contain;
				background-repeat: no-repeat;
				.middle_text {
					margin-top:-40px;
					padding:0;
					width:100%;
					height:170px;
					position:relative;
					h3 {
						margin:0 0 0 70px;
						width:70%;
						font-family: 'Cinzel Decorative';
						color:  #ffffff;
						font-size: 3.501em;/* Приближение из-за подстановки шрифтов */
						font-weight: 400;
						line-height: 1.5;/* Приближение из-за подстановки шрифтов */
					}
					.right_stand_man {
						position:absolute;
						right:0;
						top:-65px;
						z-index:5;
					}
					span {
						margin:0 0 0 70px;
						width:70%;
						font-family: Amiri;
						color:  #cdb378;
						font-size: 1.2em;/* Приближение из-за подстановки шрифтов */
						font-weight: 400;
						transform: scaleX(1.0031);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
					}
				}
				.beer_box {
					margin:0;
					padding:0;
					width:85%;
					height:300px;
					display:grid;
					grid-template-columns: 1fr 400px;
					align-items: center;
					position:relative;
					z-index:99999;
					background-color:#232615;
					box-shadow: 0px 0px 155px 0px rgba(31, 33, 43, 0.65);
					background-image: url("../images/main/LogoZeus.png");
					background-size:cover;
					background-repeat: no-repeat; 
					.beer_box_text {
						margin:0;
						padding:0 0 0 70px;
						h3 {
							margin:25px 0 0 0 ;
							height:70px;
							font-family: 'Cinzel Decorative';
							color:  #cdb378;
							font-size: 2.7em;/* Приближение из-за подстановки шрифтов */
							font-weight: 400;
							line-height: 1;/* Приближение из-за подстановки шрифтов */
						}
						span {
							height:70px;
							font-family: Amiri;
							color:  #b5ba99;
							font-size: 1.2em;/* Приближение из-за подстановки шрифтов */
							font-weight: 400;
							line-height: 1.5;/* Приближение из-за подстановки шрифтов */
						}
						button {
							border-style: solid;
							border-width: 2px;
							border-color:  #404429;
							background-color:  #272a18;
							width: 150px;
							height: 40px;
							font-family: Amiri;
							color:  #ffffff;
							font-size: 0.8em;/* Приближение из-за подстановки шрифтов */
							font-weight: 400;
							line-height: 1;/* Приближение из-за подстановки шрифтов */
						}
					}
					.beer_img {
						position:absolute;
						right:70px;
						top:-170px;

						img {
							width:170px;
							height:600px;
						}
					}
				}
				.drinking_man_box {
					margin:0;
					padding:0;
					display:flex;
					flex-grow:1;
					border:solid 1px black;
					background:url("../images/main/middlePhoto(drinkman).png") no-repeat;
					background-size:cover;
					h3 {
						margin:0;
						padding:0;
						position:relative;
						left:60%;
						display:flex;
						align-items:center;
						height:600px;
						font-family: 'Cinzel Decorative';
						color:  #1a1c0f;
						font-size: 2.751em;/* Приближение из-за подстановки шрифтов */
						font-weight: 900;
						line-height: 1.2;/* Приближение из-за подстановки шрифтов */
						text-align: left;
					}
				}
				.handcrafted_box {
					margin:0;
					padding:0;
					display:grid;
					height:700px;
					grid-template-columns: 50% 50%;
					position:relative;
					.handcrafted_box_text {
						margin:0;
						padding:20px 40px 40px 70px;
						h3 {
							font-family: 'Cinzel Decorative';
							color:  #cdb378;
							font-size: 2.751em;/* Приближение из-за подстановки шрифтов */
							font-weight: 900;
							line-height: 1.2;/* Приближение из-за подстановки шрифтов */
							text-align: left;
						}
						p {
							font-family: Amiri;
							color:  #b4ba98;
							font-size: 1.3em;/* Приближение из-за подстановки шрифтов */
							font-weight: 400;
							line-height: 2;/* Приближение из-за подстановки шрифтов */
							text-align: left;
						}
					}
					.handcrafted_box_right {
						margin:0;
						padding:0;
						width:50vw;
						height:750px;
						position:absolute;
						background:url('../images/main/PhotoWindowBeer.png') no-repeat;
						background-size:cover;
						top:-80px;
						right:0;
					}
				}
				.bottom_text_box {
					margin:20px 0 0 0;
					padding:0;
					display:flex;
					flex-direction: column;
					justify-content: center;
					align-items:center;
					h2 {
						font-family: 'Cinzel Decorative';
						color:  #cdb378;
						font-size: 3.501em;/* Приближение из-за подстановки шрифтов */
						font-weight: 400;
						line-height: 0.833;/* Приближение из-за подстановки шрифтов */
						text-align: center;
					}
					span {
						height:60px;
						font-family: Amiri;
						color:  #b4ba98;
						font-size: 1.3em;/* Приближение из-за подстановки шрифтов */
						font-weight: 400;
						line-height: 2;/* Приближение из-за подстановки шрифтов */
						text-align: center;
					}
					.order_butn {
						border-style: solid;
						border-width: 2px;
						border-color:  #404429;
						background-color:  #272a18;
						width: 150px;
						height: 40px;
						font-family: Amiri;
						color:  #ffffff;
						font-size: 0.8em;/* Приближение из-за подстановки шрифтов */
						font-weight: 400;
						line-height: 1;/* Приближение из-за подстановки шрифтов */
					}
				}
				.bottom_page {
					margin:0;
					padding:0;
					clear:both;
					height:60px;
					width:100%;
					font-family: Amiri;
					color:  #000000;
					font-size: 1.3em;/* Приближение из-за подстановки шрифтов */
					font-weight: 800;
					line-height: 2;/* Приближение из-за подстановки шрифтов */
					text-align: center;
					position:absolute;
					bottom:0;
				}
			}
		}	 
}